{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
	<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Action</th>
    </tr>

{% for x in contact  %}
    <tr>
    <td>{{x.name}}</td>
    <td>{{x.email}}</td>
    <td>{{x.subject}}</td>
    <td>{{x.message}}</td>
    <td>
         <a href="/edit/{{ x.id }}" class="btn btn-danger">Edit</a>
         <a href="/delete/{{ x.id }}" class="btn btn-secondary">Delete</a>
         <a href="/pay/{{ x.id }}" class="btn btn-primary">Pay</a>
    </td>
    </tr>
{% endfor %}

    </table>
{% endblock %}